/*
Theme Name: Royal Blog
Theme URI: http://sparklewpthemes.com/wordpress-themes/royalblog/
Author: sparklewpthemes
Author URI: http://sparklewpthemes.com/
Description: Royal Blog is a clean & beautiful free child theme of Craft Blog WordPress theme, This theme well suited for fashion bloggers, lifestyle, travel bloggers, personal blogging, music band & singers, photographers, writers, fashion designer, interior designers, wedding, eCommerce and all bloggers sector people. Royal Blog is one of the most accessible themes which can easily accommodate all type of users with no coding skills to advanced WordPress developers. Royal Blog includes excellent advanced features for blogger professionals and practices of all kinds of blogger, with one click demo data import, customizer theme options, page &  post layout options. Royal Blog Free WordPress theme is fully responsive, cross-browser compatible, translation ready, SEO friendly and social media integration. if you have any problem while using our theme, you can refer our theme documentation or contact our friendly support team. Check demo at http://demo.sparklewpthemes.com/royalblog/ and Read theme details at https://sparklewpthemes.com/wordpress-themes/royalblog and get free support at https://sparklewpthemes.com/support/
Version: 1.0.3
Tested up to:   6.2
Requires PHP:   7.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: craft-blog
Text Domain: royal-blog
Tags: blog, news, one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, post-formats, sticky-post, translation-ready, featured-images, theme-options
*/

/**
 * Full Width Banner
*/
.ol-fullslider .ol-slider-panel {
    position: relative;
}

.ol-fullslider {
    margin-top: 25px;
}

.ol-fullslider .ol-caption {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.25);
    padding: 30px;
}

.ol-img-holder img {
    width: 100%;
}

.ol-fullslider .ol-caption h2 a,
.ol-fullslider .ol-caption .entry-meta div,
.ol-fullslider .ol-caption .entry-meta.info div,
.ol-fullslider .ol-caption .entry-meta.info a {
    color: #fff;
}

.ol-fullslider .ol-caption h2 a:hover,
.ol-fullslider .ol-caption .entry-meta div:hover,
.ol-fullslider .ol-caption .entry-meta.info div a:hover {
    color: #e74c3c;
}

.articlesListing.blog-grid .article p:first-of-type:first-letter {
    float: none;
    margin: 0;
    font-family: none;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: initial;
    text-align: center;
    text-transform: initial;
    color: inherit;
}

/*--------------------------------------------------------------
## Features Promo Link Area
--------------------------------------------------------------*/
.features-promo-link .promo-banner-img {
    position: relative;
    display: block;
    margin-top: 30px;
}

.fullwidthpromo.features-promo-link .promo-banner-img {
    margin-top: 0;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.features-promo-link .promo-banner-img:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.1;
    content: '';
    z-index: 9;
}

.features-promo-link .promo-banner-img .promo-banner-img-inner {
    background: #000;
    position: relative;
    display: block;
}

.features-promo-link .promo-banner-img .promo-banner-img-inner:before,
.features-promo-link .promo-banner-img .promo-banner-img-inner:after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
}

.features-promo-link .promo-banner-img .promo-banner-img-inner:before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    left: 10px;
    right: 10px;
}

.features-promo-link .promo-banner-img .promo-banner-img-inner:after {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    top: 10px;
    bottom: 10px;
}

.features-promo-link .promo-banner-img .promo-banner-img-inner .promo-bg-image-inner {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 340px;
}

.features-promo-link .promo-banner-img .promo-banner-img-inner .promo-bg-image-inner img {
    opacity: 0;
    width: 100%;
    height: auto;
    display: none;
    visibility: hidden;
}

.features-promo-link .promo-banner-img .promo-banner-img-inner .promo-img-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.features-promo-link .promo-banner-img .promo-banner-img-inner .promo-img-info .promo-img-info-inner {
    width: 100%;
}

.features-promo-link .promo-banner-img .promo-banner-img-inner .promo-img-info .promo-img-info-inner h3 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 0;
    word-spacing: 0px;
    z-index: 7;
    position: relative;
    color: #fff;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
}

.features-promo-link .promo-banner-img .promo-banner-img-inner .promo-img-info .promo-img-info-inner p {
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    letter-spacing: 1;
    font-size: 14px;
    padding: 5px 0px;
    display: inline-block;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
}

.features-promo-link .promo-banner-img .promo-banner-img-inner:hover:before,
.features-promo-link .promo-banner-img .promo-banner-img-inner:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.features-promo-link .promo-banner-img .promo-banner-img-inner .promo-img-info .promo-img-info-inner h3 {
    background: #e74c3c;
}

/* Sidebar Popup Click Icon */
.navbar-wrapper {
    display: flex;
}

.main-nav-sidebar {
    cursor: pointer;
    padding: 10px;
    border-radius: 0;
    background: transparent;
    border: none;
}

.main-nav-sidebar div span {
    display: block;
    width: 17px;
    height: 2px;
    margin-bottom: 3px;
    background-color: #000000;
}

/* Sidebar Popup Area */

.sidebar-popup {
    max-width: 340px;
    left: -340px;
    padding: 70px 15px 0px;
    background-color: #fff;
}

.sidebar-popup {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1200;
    height: 100%;
    overflow-x: hidden;
    transition: left 500ms ease-out;
    -webkit-transition: left 500ms ease-out;
    -moz-transition: left 500ms ease-out;
    -o-transition: left 500ms ease-out;
    -ms-transition: left 500ms ease-out;
}

.sidebar-popup-close {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1150;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.sidebar-popup-close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.admin-bar .sidebar-popup-close-btn {
    top: 40px;
}

.sidebar-popup-close-btn span {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 3px;
    cursor: pointer;
    margin-left: -9px;
    background-color: white;
}

.sidebar-popup-close-btn span:first-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sidebar-popup-close-btn span:last-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* Header Search Icons */

.main-nav-icons {
    position: absolute;
    top: 18px;
    right: 68px;
    z-index: 2;
}

.main-nav-search {
    cursor: pointer;
}

.main-nav-icons .search-pop-up {
    width: 400px;
    right: 0;
    z-index: 4;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 180%;
    padding: 10px;
    background: #fff;
    border: 1px solid #f5f5f5;
}

.main-nav-icons .search-pop-up.active {
    opacity: 1;
    visibility: visible;
}

.main-nav-icons .search-form .screen-reader-text {
    display: none;
}

.sidebar-popup-wrap .widget ul {
    padding: 0;
}

.sidebar-popup-wrap .widget .widget-title {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: left;
    padding-left: 20px;
    background-color: #fafafa;
    border-left: 4px solid #4a4a4a;
    margin-top: 0;
    text-transform: uppercase;
    display: inline-block;
    color: #555555;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
}

/**
 * Pagination
*/
.pagination {
    display: block;
    background: transparent;
}

.page-numbers {
    display: inline-block;
    margin: 0;
    background: #b565a7;
    border: 1px solid #b565a7;
    color: #FFF;
    padding: 10px 20px;
    line-height: 1;
}

.page-numbers.current {
    background: #fff;
    color: #b565a7;
}

.page-numbers:hover {
    background: transparent;
    border: 1px solid #b565a7;
    color: #b565a7;
}

.footer-copyright {
    padding: 20px 0;
}

.copyright-info {
    margin-bottom: 0;
}

.privacy-policy-link {
    margin-left: 10px;
}

/**
 * Scrollup
*/
.goToTop {
    background-color: #b565a7;
    display: none;
    bottom: 40px;
    position: fixed;
    right: 30px;
    text-align: center;
    width: 42px;
    z-index: 20;
    text-decoration: none;
    height: 42px;
}

.goToTop i.fa {
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}

.goToTop span {
    display: none;
}

#mailpoet_form_1 .mailpoet_text,
#mailpoet_form_1 .mailpoet_textarea {
    width: 100% !IMPORTANT;
}

@media (max-width: 768px) {

    .entry-meta.info>div,
    .entry-meta.info>span {
        float: left;
        margin-right: 5px;
    }
}

@media (max-width: 600px) {
    .ol-fullslider .ol-caption {
        top: 0;
    }

    .main-nav-icons {
        top: 15px;
        right: 100px;
        color: #fff;
    }

    .main-nav-sidebar div span {
        background-color: #fff;
    }

    .main-nav-icons .search-pop-up {
        padding: 0;
    }
}